@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

$JosefinSans: "Josefin Sans";
$DutchWhite: #fcecc9;
$CherryBlossom: #fcb0b3;
$ImperialRed: #f93943;
$CarolinaBlue: #7eb2dd;
$YLnMnBlue: #445e93;

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #fcecc9;
}
#intro {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  img {
    margin: 40px 0;
    display: grid;
    place-items: center;
    height: auto;
    width: clamp(200px, 70%, 80%);
    border-radius: 100%;
  }
  span:nth-child(1) {
    display: none;
  }
  span:nth-child(2) {
    font-size: 48px;
    font-weight: 400;
    display: grid;
    place-items: center;
  }
  span:nth-child(3) {
    font-size: 24px;
    display: grid;
    place-items: center;
    margin-bottom: 24px;
  }
  button {
    padding: 18px 48px;
    font-size: 18px;
    border-radius: 40px;
    background-color: $ImperialRed;
    color: $DutchWhite;
    border: none;
  }
}
@media only screen and (min-width: 426px) {
  #intro {
    padding: 20px;
  }
}

@media only screen and (min-width: 769px) {
  #intro {
    padding: 140px;
  }
}
